@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

:root {
    --primary-color: rgb(255, 255, 255) ;
    --secondary-color: rgb(65, 65, 65);
    --accent1-color: rgb(165, 50, 50) ;
    --accent2-color: rgb(219, 131, 58) ;

    --heading-font: "Peralta", serif;
    --paragraph-font: "Wellfleet", monospace;

    --nav-background-color: rgb(65, 65, 65);
    --nav-link-color: rgb(219, 131, 58);
    --nav-hover-link-color:  rgb(165, 50, 50);
    --nav-hover-background-color: rgb(255, 255, 255);
}

body {
    margin: 0 auto;
    background-color: rgb(240, 238, 232);
}

header {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 1fr;
    font-family: var(--heading-font);
    background-color: rgba(65, 65, 65, 0.6);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom: 3px solid rgb(65, 65, 65);
}

header img {
    margin: 8px;
    max-width: 160px;
    max-height: 160px;
    border-radius: 20%;
}

main {
    max-width: 1024px;
    margin: 0 auto 0 auto;
    background-color: rgba(65, 65, 65, 0.4);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    letter-spacing: 2px;
}

h2 {
    text-decoration: underline;
}

p, ul {
    margin: 35px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    letter-spacing: 1px;
}

article {
    text-align: center;
    border-top: 2px solid var(--accent1-color);
}

figure {
    border: 2px solid var(--accent2-color);
    display: flex;
    flex-flow: column;
  }

figcaption {
    background-color: rgba(65, 65, 65, 0.6);
    color: #ffffff;
    text-align: center;
}

footer {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 65, 65, 0.6);
    padding: 1rem;
    border-top: 3px solid #000000;
    font-size: 14px;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

footer nav, nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 0.8rem;
    width: 720px;
    height: 480px;
}

form {
    width: 720px;
    padding: 1rem;
    border: 1px solid rgba(65, 65, 65, 0.6);
    border-radius: 1rem;
    background-color: rgb(240, 238, 232);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1.5rem;

}

legend {
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.1em;
}

label, input, button, select, textarea {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.8em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: center;
}

button {
    color: var(--accent1-color);
    padding: 8px;
    background-color: var(--primary-color);
    border-radius: .8rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

table {
  width: 80%;
}

td, th {
  border: 1px solid rgb(255, 255, 255);
  text-align: left;
  padding: 8px;
}

th {
    background-color: rgba(65, 65, 65, 0.5);
}

tr {
    background-color: rgba(219, 131, 58, 0.5);
}

/********* Class Selectors *********/

.menu a, .wireframe-link {
    color: var(--accent2-color);
    padding: 5px;
    border-radius: .4rem;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 0.1px var(--primary-color);
    letter-spacing: 1px;
}

.menu a:hover, .wireframe-link:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    -webkit-text-stroke: 0px transparent;
}

.wireframe-link {
    -webkit-text-stroke: 0.5px var(--primary-color);
}

.hero {
	position: relative;
    display: flex;
    justify-content: space-evenly;
}

.hero p {
    color: var(--primary-color);
}

.hero button {
    position: absolute;
    top: 80%;
}

.hero h1 {
	position: absolute;
	top: 10px;
    background-color: rgba(65, 65, 65, 0.6);
    width: 1024px;
    text-align: center;
    color: var(--accent1-color);
    -webkit-text-stroke: 0.1px var(--primary-color);
}

.hero article {
	display: flex;
    flex-direction: row-reverse;
    position: absolute;
	left: 140px;
    top: 280px;
    width: 720px;
    font-size: 15px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    border: 0;
}

.hero article img{
    display: flex;
    float: right;
    width: 180px;
    height: auto;
    margin: 6px; 
    
}

.prices-table {
    display: flex;
    justify-content: center;
}

.contact-invite {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.contact-invite button {
    position: absolute;
    top: 80%;
}

.contact-invite p {
    position: absolute;
	top: 10px;
    background-color: rgba(65, 65, 65, 0.8);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--accent1-color);
    -webkit-text-stroke: 0.1px var(--primary-color);
}

.contact-invite img {
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
}

.data2 {
    border-bottom: 2px solid var(--accent1-color);
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px;
    justify-items: center;
    align-items: center;
}

.history h2 {
    position: relative;
    top: -100px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.p1-history {
    grid-column: 1/2;
    grid-row: 2/3;
}

.p2-history {
    grid-column: 3/4;
    grid-row: 2/3;
}

.history img {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 150px;

}

.experience-image {
    max-width: 1024px;
    display: grid;
    margin: 30px 80px 30px 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
}

.show1 h3, .show2 h3 {
    grid-row: 1/2;
    grid-column: 1/2;
    text-decoration: underline;
    text-align: center;
}

.show1 p, .show2 p {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 10px;
    text-align: center;
}

.show1 img, .show2 img {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
}

.adventure {
    max-width: 1024px;
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
}

.adventure h2{
    grid-column: 1/4;
    grid-row: 1/2;
    justify-content: center;
}

.adventure img{
    display: flex;
    flex-wrap: nowrap;
    max-width: 300px;
    min-height: 200px;
}

.address {
    border-top: none;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    margin: 0 20px 10px 20px;
    background-color: rgba(65, 65, 65, 0.6);
    text-align: center;
    font-size: 20px;
    -webkit-text-stroke: 0.1px var(--primary-color);
}

.employee {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50px 1fr;
    
}

.lori {
    max-width: 250px;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.jason {
    grid-column: 2/3;
}

.gary {
    grid-column: 3/4;
}

.employee h2 {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

.employee img {
    display: flex;
    justify-content: space-around;
    max-width: 250px;
    height: 315px;
    grid-column: 1/4;
    grid-row: 2/3;
}

.column1 {
    display: flex;
    justify-content: flex-start;
    grid-template-columns: 3fr 1fr;
    margin: 1rem 0;
}

.column2 {
    display: flex;
    justify-content: flex-start;
    grid-template-columns: 1fr 2fr;
}

.subscribe-form {
    display: block;
    margin: 30px 150px 30px 150px;
}

.sociallinks a:link {
    text-decoration: none;
    margin: 5px;
}

.sociallinks a:hover {
    border: 4px solid #000000;
    border-radius: .6rem;
    background-color: var(--primary-color);
}
