@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #768A05 ;
    --secondary-color: #d8975a ;
    --accent1-color: #000000 ;
    --accent2-color: #b80f00 ;

    --heading-font: 'Ubuntu', sans-serif;
    --paragraph-font: 'Rubik', sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--secondary-color);
}


header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 190px;
    font-family: var(--heading-font);
    max-width: 1024px;
}

header img {
    margin: 6px;
    max-width: 170px;
    max-height: 170px;
}

body, main {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

figure {
    border: 2px solid var(--accent1-color);
    display: flex;
    flex-flow: column;
    padding: 2px;
  }

figcaption {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
}

footer {
    max-width: 1024px;
    margin: 1rem;
    border-top: 1px solid #000000;
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-template-rows: 1fr;
}

footer, p, nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    margin: 5px;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 0.6rem;
    width: 700px;
    height: 480px;
}


/* Class Selectors */


.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary-color);
}

.menu a {
    color: white;
    padding: 4px;
    background-color: #000000;
    border-radius: .8rem;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 30px;
}

.hero {
	position: relative;
    display: flex;
    justify-content: space-evenly;
}

.hero p{
    color: #ffffff;
}

.hero h1 {
	position: absolute;
	top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1024px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hero article {
	display: flex;
    flex-direction: row-reverse;
    position: absolute;
	left: 140px;
    top: 280px;
    width: 720px;
    font-size: 15px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.hero article img{
    display: flex;
    float: right;
    width: 180px;
    height: auto;
    margin: 3px; 
    
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.history h2 {
    position: relative;
    top: -100px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.p1-history {
    grid-column: 1/2;
    grid-row: 1/2;
}

.p2-history {
    grid-column: 3/4;
    grid-row: 1/2;
}

.history img {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 150px;

}

.adventure {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
}

.adventure h2{
    display: flex;
    grid-column: 1/6;
    grid-row: 1/2;
    justify-content: center;
}

.adventure img{
    display: flex;
    flex-wrap: nowrap;
    max-width: 150px;
    min-height: 100px;
}

.address {
    border: 1px solid #000000;
    border-radius: 0.6rem;
    margin: 10px 30px;
}


.sociallinks a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    margin: 2px;
}



